body {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgba(18, 20, 29, 1);
	font-family: "Poppins-Regular";
}

body a {
	text-decoration: none;
	color: #fff;
	font-family: inherit;
}

body h1 {
	color: #fff;
}

body h2 {
	color: #fff;
}
body h3 {
	color: #fff;
}
body h4 {
	color: #fff;
	margin: 0;
}

body p {
	color: #fff;
}

body span {
	color: #fff;
}

.container {
	width: 1110px;
	margin: auto;
}

*:before {
	padding: 0;
	margin: 0;
}

.a-button {
	width: 157px;
	height: 53px;
	background-color: rgba(64, 128, 191, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.a-button a {
	font-size: 18px;
	font-family: "Poppins-Bold";
}